body {
    margin: 0px;
    background-color: #bbdff0;
}

.container {
    display: grid;

}

.menu {
    background-color: #5e9ef3;
    justify-content: center;

    /*gap: 20px;*/
}

.principal{
    grid-column-start: 2;
    grid-column-end: 12;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify center;
}

footer{
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: #5e9ef3;
    color: white;
    text-align: right;
    font-size: small;
    padding-right: 10px;
    margin-bottom: 0;
}

ul{
    list-style-type: none;
    color: black;
}

a,
a:link {
    text-decoration: none;
    padding: 10px 16px;
    border: solid black 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #3852e6;
    color:white;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px;
    
}

a:hover {
    box-shadow: 2px 2px 2px black;
}

li{
    float: left;
    margin: 10px;
}