body {
    margin: 0px;
    background-color: #cee9f5;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;

}

.menu {
    background-color: #285FA1;
    justify-content: center;
}

.externa {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 400px;
    background: #cee9f5;
    display: table;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

.interna {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #122B49;
    font-size:15px;
}

footer{
    background-color: #285FA1;
    color: white;
    text-align: right;
    justify-content: center;
    font-size: 12px;
    height: 40px;
    position: absolute;
    bottom:0%;
    width: 100%;
}

.foto{
    max-height: 300px;
}

.texto{
    color:#0B1A2C;
}

.titulo{
    color:#0B1A2C;
    font-size: 50px;
}

ul{
    list-style-type: none;
    color: black;
}

.barra,
.barra:link {
    text-decoration: none;
    padding: 10px 16px;
    border: solid black 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #122B49;
    color:white;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px;
    
}

.barra:hover {
    box-shadow: 3px 3px 3px black;
}

.sites,
.sites:visited{
    text-decoration: none;
    color: #0B1A2C;

}

li{
    float: left;
    margin: 10px;
}

.formulario {
    max-width: 650px;
    text-align: center;
    margin: 20px auto;
  }

.formulario input, form textarea {
    border: 0;
    outline: 0;
    padding: 0.8em;
    display: block;
    width: 100%;
    margin-top: 16px;
    font-family:'open_sansregular';
    font-size:16px;
    color:#424242;
}

.formulario .btn-submit {
    color: #fff;
    background: #285FA1 ;
    cursor: pointer;
    transition: 0.5s;
    width: 675px;
}